@charset "UTF-8";
/* CSS Document */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Float four columns side by side */
.column {
  float: center;
  width: 100%;
  padding: 0px;
}
